<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <title>Finesse Your Life</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--bootstrap-->
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"> --}}

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">



    <!--firebase auth-->
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--javascript-->
    <script src="/assets/js/goals.js"></script>


</head>

<body>

    {{{ body }}}

</body>

</html>